cnn_model_glove_lr0.0001_CrossEntropy_batch128.pth filter=lfs diff=lfs merge=lfs -text
rnn_model_glove_batch32.pth filter=lfs diff=lfs merge=lfs -text
rnn_model_glove_lr0.001.pth filter=lfs diff=lfs merge=lfs -text
rnn_model_glove_not_shuffle.pth filter=lfs diff=lfs merge=lfs -text
cnn_model_false.pth filter=lfs diff=lfs merge=lfs -text
cnn_model_glove_lr0.00001.pth filter=lfs diff=lfs merge=lfs -text
cnn_model_word2vec.pth filter=lfs diff=lfs merge=lfs -text
rnn_model_glove_lr0.00001.pth filter=lfs diff=lfs merge=lfs -text
cnn_model_glove.pth filter=lfs diff=lfs merge=lfs -text
cnn_model_glove_lr0.001.pth filter=lfs diff=lfs merge=lfs -text
cnn_model_glove_lr0.0001_Label.pth filter=lfs diff=lfs merge=lfs -text
rnn_model_glove_epoch20.pth filter=lfs diff=lfs merge=lfs -text
cnn_model_embedding.pth filter=lfs diff=lfs merge=lfs -text
cnn_model_glove_lr0.0001_CrossEntropy_batch32.pth filter=lfs diff=lfs merge=lfs -text
rnn_model_glove_labelSmoothing.pth filter=lfs diff=lfs merge=lfs -text
rnn_model_word2vec_epoch20.pth filter=lfs diff=lfs merge=lfs -text
rnn_model_embedding_epoch20.pth filter=lfs diff=lfs merge=lfs -text
rnn_model_glove_batch128.pth filter=lfs diff=lfs merge=lfs -text
